.topicsSpan {
  display: none;
}

.customTopicsNavLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
  color: #8c8c8c;

}
.customTopicsNavLink:hover {
  color: rgb(23 23 23);
  background-color: rgb(245 245 245);
}
.customTopicsNavLink:hover span {
  display: inline-block;
}


.folderSpan{
    display: none;
}
.favouriteSFolderNavLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: small;
  color: #8c8c8c;
}
.favouriteSFolderNavLink:hover {
    color: rgb(23 23 23);
    background-color: rgb(245 245 245);
}
.favouriteSFolderNavLink:hover span{
    display: inline-block;
}


/* flex-shrink-0 w-48 overflow-y-scroll sticky top-0 */

.scrollbar {
  width: 192px !important;
  position: sticky;
  top: 0;  
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: white;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

