/* shadow-xl border border-white text-white text-sm px-3  rounded-full absolute top-[27%] left-[28%] sm:top-[30%] sm:left-[35%] z-50 hover:bg-white hover:text-black */

.follow_btn {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  position: relative;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.follow_btn:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}

.following_btn {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  position: relative;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.unfollow_btn {
  border: 1px solid #e91640;
  background-color: #e91640;
  color: white;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  position: relative;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.label_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* @media only screen and (max-width: 900px) {
  .follow_btn {
    position: absolute;
    top: 120px;
    left: 79px;
  }
  .following_btn {
    position: absolute;
    top: 120px;
    left: 79px;
  }
  .unfollow_btn {
    position: absolute;
    top: 120px;
    left: 79px;
  }
} */
